.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.course {
    /* border: 1px solid gray; */
    border-radius: 5px;
    padding: 5px;
    background-color: wheat;
}

h2, h3, p {
    margin: 0px;
    padding: 0px;
}