body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: black;
  margin-top: -15px;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 10px;
  position: sticky;
  z-index: 1000;
  top: 0;
}

.nav-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.header-container nav ul li {
  display: inline;
  color: white;
  margin: 5px;
  /* border: 1px solid black; */
}

.header-container nav ul li a {
  text-decoration: none;
  color: white;
}

.header-container nav ul li a:hover {
  color: orange;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

#form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 20px;
}

#form input, select {
  display: block;
  width: 90%;
  margin-bottom: 5px;
}

#form label {
  font-weight: bold;
}

form #submit {
  width: 25%;
  color: white;
  background-color: grey;
  border: solid 1px black;
  border-radius: 5px;
  box-shadow: 2px 2px 5px black;
}

span {
  font-size: smaller;
  color: red;
}

table tbody tr:nth-child(2n + 1) {
  background-color: gray;
  color: white;
}

table thead th {
  background-color: black;
  color: white;
}

table {
  margin: auto;
}

.info {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.info-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.form { /*for doc uploads*/
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  row-gap: 10px;
}

#button {
  margin-left: 10px;
}

.status-message{
  color: orange;
}

.file-info {
  /* background-color: #cdc5c5; */
  border-radius: 5px;
}

.file-info p a {
  color: #336699;
  
}

.file-info p a:hover {
  color: orange;
}

